.container-products {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 100%;
    justify-content: center;
}

.filter-sidebar {
    width: 20%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
}

.product-list {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.ant-collapse-content {
    border-top: none !important;
}

.ant-card {
    width: 250px;
}

/* .ant-checkbox-wrapper {
    display: block;
} */

.slider-container {
    margin-top: 10px;
}