//change this to your own configuration mySQL database
MYSQL_USER = 
MYSQL_PASSWORD = 


//server setup mySQL database
MYSQL_DATABASE_NAME = 
MYSQL_HOST = 
MYSQL_PORT = 
PORT = 


//server 
PORT = 
HOST = 


//JWT secret 
JWT_SECRET = 




//gmail account for sending email
EMAIL_USERNAME = 
EMAIL_PASSWORD = //application password


//Momo payment
MOMO_ACCESS_KEY = 
MOMO_SECRET_KEY = 


//ZaloPay payment
ZALOPAY_APP_ID = 
ZALOPAY_KEY1 = 
ZALOPAY_KEY2 = 


//Redirect URL after payment
REDIRECT_URL = http://localhost:5173/confirm


//BE public URL
BE_PUBLIC_URL = 
